.quoteStyle
{
  display: block;
  background: #ebeadd url("../images/quote.gif") no-repeat 5px 5px;
  border: 1px solid #dbdbce;
  margin: 0.5em 1px 0pt 25px;
  padding: 20px 5px 5px;
  overflow: hidden;
}

.codeStyle, .sqlStyle, .phpStyle, .codeStyle
{
  display: block;
  background-color: #ffffff;
  border: 1px solid #c9d2d8;
  padding: 3px;
  font-family: Monaco,"Andale Mono","Courier New",Courier,mono;
  color: #2e8b57;
}