/* reset some stuff */
h1,h2,hr,ul,ins{margin:0px;padding:0px;border: 0px;text-decoration:none;}

/* set some wrapper values */
#wrapper{
	margin: 0 auto 0 auto;
}

/* a nice little line */
#debug{
	background-color: white;	
	border: 1px solid #ccc;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#debug h1{
	font-size: 12px;	
	padding: 7px;	
	background-color: #e0e0e0;
}

#debug p{
	font-size: 11px;	
	padding: 7px;
}